<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal Sign Up</title>
</head>
<body>
    <form action="/users/signup/principal/" method="post">
        {% csrf_token %}    
        {{form.as_p}}
        <button type="submit">Sign Up</button>
    </form>
    {% block 'content' %}
    {% endblock %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
</body>
</html>