<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <!-- <form method="post" action="/users/signup/">
        {% csrf_token %}
        <input name="username" type="text" placeholder="username" required>
        <input name="password" type="password" placeholder="password" minlength="4" required>
        <input name="confirm_password" type="password" placeholder="confirm_password" minlength="4" required>
        <button type="submit">Sign Up</button>
    </form> -->
    {{form.as_p}}
    <button type="submit">Sign Up</button>
    {% block 'content' %}
    {% endblock %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
</body>
</html>