{% extends 'base.html' %}


{% block title %}{{object}} Club{% endblock %}


{% block content %}

{% if request.user.is_authenticated and request.user.teacher and request.user.teacher == object.supervisor %}    
<a href="{% url 'clubs:club_update' pk=object.pk %}">Edit Club</a>
{% endif %} 
<p>Established On: {{object.established}}</p>

<p>Supervisor: {{object.supervisor}}</p>

<form method="post" action="{% url 'clubs:club_membership' pk=object.pk %}">
    {% csrf_token %}
    <input type="number" name="student_id" placeholder="Student ID">
    <select name="position">
    {% for value, label in positions %}
    <option value="{{value}}">{{label}}</option>
    {% endfor %}
    </select>
    <button type="submit">Add Member</button>
</form>

{% for member in members %}
<p>{{member.student.user.first_name}} {{member.student.user.last_name}} - {{member.position}}</p>
{% endfor %}

{% endblock %}