<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static  'base.css'  %}">
    <title>{% block title %} PulseCampus {% endblock %}</title>
</head>

<body>
    <nav>
        <a href="{% url 'departments:department_list' %}">Departments</a>
        <a href="{% url 'classes:class_list' %}">Classes</a>
        {% if user.is_authenticated %} <p><a href="{% url 'users:logout' %}?next={{request.path|urlencode}}">Logout</a></p>
        {% else %} 
            <p><a href="{% url 'users:signup' %}">Sign Up</a></p> 
            <p><a href="{% url 'users:login' %}">Log In</a></p> 
        {% endif %}
    </nav>
    <h1>Pulse Campus</h1>
    {% block content %}
    {% endblock %}
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
</body>

</html>