<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Log In</title>
</head>
<body>
    <form method="post" action="{% url 'users:login' %}">
        {% csrf_token %}
        <input type="text" name="username or email" placeholder="Username or Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Log In</button>
    </form>
    <a href="{% url 'users:signup' %}">Don't have an account? Signup here</a>
    <a href="{% url 'users:forgot_password' %}">Forgot Password?</a>
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
</body>
</html>